.NWMC_device-slider-wrapper {
    max-width: 1000px;
    margin: auto;
}

.NWMC_device-slider img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 20px -2px rgba(255, 255, 255, 0.2)
}

.bottom-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
    padding-top: 20px;
    padding-left: 15px;
    max-width: 650px;
    margin: auto;
    width: 100%;
}

.bottom-wrapper.right {
    grid-template-columns: auto 50px;
}

.bottom-wrapper.right .slider-controls {
    order: 2;
}

.bottom-wrapper.right .meta {
    order: 1;
    text-align: right;
    margin-right: 20px;
}

.bottom-wrapper p {
    margin: 0;
}

.NWMC_device-slider .slides-wrapper,
.NWMC_device-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    perspective: 100px;
}
.NWMC_device-slider .slides-wrapper > *,
.NWMC_device-slider > *:not(.slides-wrapper) {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
}

.NWMC_device-slider > .animate {
    transition: transform 0.2s;
}

.NWMC_device-slider .slide {
    display: none;
    position: absolute;
    height: auto;
}


div[data-controls-for-slider] .prev,
div[data-controls-for-slider] .next {
    width: 15px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

div[data-controls-for-slider] .prev:hover,
div[data-controls-for-slider] .next:hover {
    opacity: 1;
}

div[data-controls-for-slider] .prev img,
div[data-controls-for-slider] .next img {
    width: 100%;
}

div[data-controls-for-slider] .prev img {
    transform: rotateZ(90deg);
}
div[data-controls-for-slider] .next img {
    transform: rotateZ(-90deg);
}

.NWMC_device-slider .slide {
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.87, 0.01, 0.18, 0.97);
    align-items: flex-start;
    justify-content: center;
}


.NWMC_device-slider {
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: contain;
    background-size: contain;
    box-sizing: border-box;
    display: flex;
}


.NWMC_device-slider.desktop {
    width: 90%;
    height: 450px;
}

.NWMC_device-slider.ipad {
    float: right;
    width: 35%;
    height: 250px;
    position: relative;
    margin-top: -250px;
}

.NWMC_device-slider .slides-wrapper {
    height: auto;
    position: relative;
}

.NWMC_device-slider.desktop .slides-wrapper {
    margin: 2.5% auto;
    width: 87%;
    max-width: 510px;
}

.NWMC_device-slider.ipad .slides-wrapper {
    margin: 6% auto;
    width: 75%;
    max-width: 160px;
}

.NWMC_device-slider .slides-wrapper::after {
    content: '';
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.NWMC_device-slider.desktop .slides-wrapper::after {
    background-image: url(./img/Light.png);
}
.NWMC_device-slider.ipad .slides-wrapper::after {
    /*background-image: url(./img/Light-ipad.png);*/
}


.NWMC_device-slider .slide img {
    box-shadow: none;
    border-radius: 2px;
}

.NWMC_device-slider.desktop .slide {
    padding: 0;
}

.NWMC_device-slider.ipad .slide {
    transition-duration: 500ms;
    transition-delay: 150ms;
    transition-timing-function: cubic-bezier(1, 0.04, 0.54, 0.98);
}


.NWMC_device-slider.desktop .slide[data-index="0"] {
    display: flex;
    transform: translateX(0);
}

.NWMC_device-slider.desktop .slide[data-index="-1"] {
    display: flex;
    transform: translateX(100%);
}

.NWMC_device-slider.desktop .slide[data-index="1"] {
    display: flex;
    transform: translateX(-100%);
}


.NWMC_device-slider.ipad .slide[data-index="0"] {
    display: flex;
    transform: translateX(0) scale(1);
}

.NWMC_device-slider.ipad .slide[data-index="-1"] {
    display: flex;
    transform: translateX(30%);
    z-index: -1;
}

.NWMC_device-slider.ipad .slide[data-index="1"] {
    display: flex;
    transform: translateX(-100%);
    z-index: 1;
}

.NWMC_device-slider.meta {
    height: 80px;
    width: auto;
    font-size: 20px;
    color: #333333;
}

.NWMC_device-slider.meta .project-title {
    display: block;
    font-weight: 700;
}

.NWMC_device-slider.meta .project-link {
    text-decoration: underline;
}

.NWMC_device-slider.meta .slide[data-index="0"] {
    display: block;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.NWMC_device-slider.meta .slide[data-index="1"] {
    display: block;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.NWMC_device-slider.meta .slide[data-index="-1"] {
    display: block;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

@media (max-width: 600px) {
    .NWMC_device-slider.desktop {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .NWMC_device-slider.desktop {
        height: 380px;
    }
}

@media (max-width: 350px) {
    .NWMC_device-slider.desktop {
        height: 220px;
    }

    .NWMC_device-slider.ipad {
        margin-top: -120px;
        height: 150px;
    }
}