.NWMC_confetti-out-wrapper {
    position: relative;
    box-sizing: border-box;
}

.NWMC_confetti-parent {
    position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.NWMC_confetti-wrapper {
    position: absolute;
    animation: enterShapes 5s;
    animation-timing-function: cubic-bezier(0.28, 1.6, 0, 0.95);
    pointer-events: none;
}

.NWMC_confetti-content {
    position: relative;
}

.NWMC_confetti-wrapper:nth-child(4n+0) {
    animation-duration: 3s;
}
.NWMC_confetti-wrapper:nth-child(4n-1) {
    animation-duration: 6s
}

.NWMC_confetti-wrapper:nth-child(4n-3) {
    animation-duration: 7s;
}


.NWMC_confetti-wrapper:nth-child(4n+0) .NWMC_confetti {
    animation: animateShapes 5s alternate-reverse infinite;
}
.NWMC_confetti-wrapper:nth-child(4n-1) .NWMC_confetti {
    animation: animateShapes 20s alternate infinite;
}

.NWMC_confetti-wrapper:nth-child(4n-2) .NWMC_confetti {
    animation: animateShapes-2 20s alternate-reverse infinite;
}
.NWMC_confetti-wrapper:nth-child(4n-3) .NWMC_confetti {
    animation: animateShapes-2 20s alternate infinite;
}

@keyframes enterShapes {
    0% {
        transform: translateY(120vh) rotateZ(-180deg);
    }

    100% {
        transform: translateY(0%) rotateZ(0deg);
    }
}

@keyframes animateShapes {
    0% {
        transform: rotateZ(0) translate(0);
    }
    100% {
        transform: rotateZ(15deg) translate(20px, 30px);
    }
}

@keyframes animateShapes-2 {
    0% {
        transform: rotateZ(0) translate(0);
    }

    50% {
        transform: rotateZ(10deg) translate(20px, -20px);
    }

    100% {
        transform: rotateZ(0deg) translate(20px, 20px);
    }
}
