/* For nwmc-ccbox */
.nwmc-banner {
    position: relative;
    text-align: center;
    padding: 20px 0px;
}

a.nwmc-banner-read-more {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 11px 39px;
    line-height: 1.7em;
    border-radius: 5em;
    background-color: #fff;
    display: inline-block;
    -webkit-transition: background-color .3s cubic-bezier(.14,.41,.58,1);
    -moz-transition: background-color .3s cubic-bezier(.14,.41,.58,1);
    transition: background-color .3s cubic-bezier(.14,.41,.58,1);
}

.nwmc-banner .nwmc-banner-text-holder .nwmc-banner-text-table .nwmc-banner-text-cell .nwmc-banner-subtitle {
    display: block;
    font-size: 14px;
    font-family: Merriweather,serif;
    font-weight: 700;
    display: block;
    margin-bottom: 11px;
    padding: 5px 27px;
}

.nwmc-banner .nwmc-banner-text-holder .nwmc-banner-text-table .nwmc-banner-text-cell .nwmc-banner-title span {
    display: inline-block;
    padding: 0 20px;
}
