.double-slider * {
    box-sizing: border-box;
}
.double-slider img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.slider-wrapper.image_shadow img {
    box-shadow: 0 8px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 20px -2px rgba(255, 255, 255, 0.2)
}

img.parallax-layer {
    box-shadow: 0 8px 58px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 20px -2px rgba(255, 255, 255, 0.2)
}
img.parallax-layer, .slide.parallax-layer {
    position: absolute;
    top: 0;
}

.col-right .parallax-layer { left: 30px; }
.col-left .parallax-layer { right: 30px; }

.double-slider {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    perspective: 100px;
}

.double-slider > * {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;

}


div[data-controls-for-slider].right {
    text-align: right;
}
div[data-controls-for-slider].center {
    text-align: center;
}

div[data-controls-for-slider] .prev,
div[data-controls-for-slider] .next {
    width: 15px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

div[data-controls-for-slider] .prev:hover,
div[data-controls-for-slider] .next:hover {
    opacity: 1;
}

div[data-controls-for-slider] .prev img,
div[data-controls-for-slider] .next img {
    width: 100%;
}

div[data-controls-for-slider] .prev img {
    transform: rotateZ(90deg);
}
div[data-controls-for-slider] .next img {
    transform: rotateZ(-90deg);
}

.double-slider .slide {
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.87, 0.01, 0.18, 0.97);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.double-slider .slide {
    display: none;
}

.double-slider .slide[data-index="0"],
.double-slider .slide[data-index="-1"],
.double-slider .slide[data-index="1"] {
    display: flex;
}

/* Regular Slider */
.double-slider.regular.move .slide[data-index="0"] {
    transform: translateX(0);
}

.double-slider.regular.move .slide[data-index="1"] {
    transform: translateX(100%);
}

.double-slider.regular.move .slide[data-index="-1"] {
    transform: translateX(-100%);
}

/* 3D Slider */
.double-slider.three-d .slide {
    transition: opacity 0.2s, transform 0.5s, filter 0.3s;
    align-items: center;
    padding-right: 100px;
    transition-timing-function: cubic-bezier(1, 0.06, 0.14, 0.97);
}

.double-slider.three-d.move .slide[data-index="0"] {
    transform: translateZ(0);
    z-index: 10;
}

.double-slider.three-d.move .slide[data-index="1"] {
    transform:translateX(12vw) translateZ(-2vw);
    z-index: 9;
    filter: blur(3px);
    opacity: 0.5;
}

.double-slider.three-d.move .slide[data-index="-1"] {
    transform: translateX(-100%) translateZ(5px);
    z-index: 11;
}

.double-slider.three-d.move .slide[data-index="2"] {
    display: flex;
    z-index: 8;
    opacity: 0;
    transform: translateY(-6vw) translateX(10vw) translateZ(-10vw);
}

/* Vertical Slide */
.double-slider.vertical.move .slide[data-index="0"] {
    transform: translateY(0);
}

.double-slider.vertical.move .slide[data-index="1"] {
    transform: translateY(100%);
}

.double-slider.vertical.move .slide[data-index="-1"] {
    transform: translateY(-100%);
}

.double-slider.vertical.move + .slider-controls {
    display: inline-block;
    transform: rotateZ(90deg);
}

.double-slider.fade .slide {
    transition: opacity 0.1s, transform 0.5s;
}

.double-slider.fade .slide[data-index="0"] {
    transition: opacity 0.1s 0.3s, transform 0.5s !important;
    opacity: 1;
}

.double-slider.fade .slide[data-index="1"],
.double-slider.fade .slide[data-index="-1"] {
    opacity: 0 !important;
}